
<ul id="slide-out" class="side-nav" align="center">
    <li><img src="{{avatar}}" class="circle avatar"></li>
    <li class="white-text"><h5>{{user.firstname}} {{user.lastname}}</h5></li>
    <li><a routerLink="/cleaner/dashboard"><h6>Dashboard <i class="ion ion-ios-speedometer-outline"></i></h6></a></li>
    <li><a routerLink="/cleaner/booking"><h6>Booking History <i class="ion ion-ios-clock-outline"></i></h6></a></li>
    <li><a routerLink="/cleaner/payments"><h6>Payments <i class="ion ion-card"></i></h6></a></li>
    <li><a routerLink="/cleaner/account"><h6>Profile <i class="ion ion-ios-person"></i></h6></a></li>
    
    <br>
    <button class="btn logout" (click)='logOut()' style="color: #fff; border: 2px solid #fff">Logout <i class="ion-log-out"></i></button>
</ul>
  