
<div class="main-wrap">    
    <div class="body-view">
        <app-sidebar></app-sidebar>
        <div class="container">
            <h3 style="padding-left: 10rem"><a href="#" data-activates="slide-out" class="side-nav-open">
            	<i class="ion-navicon"></i>
            </a></h3>
            <h4>{{title}}</h4>
            <br><br>

            <div class="row table-body">
            <form (submit)="updateDetails(bank.value)" novalidate="">
                <h5>Personal Information</h5>
                
                <div class="input-field col m3 s12">
                  <input type="text" placeholder="Firstname" name="firstname" [(ngModel)]="cleaner.name.firstname" disabled="">
                </div>
                <div class="input-field col m3 s12">
                  <input type="text" placeholder="Lastname" name="lastname" [(ngModel)]="cleaner.name.lastname" disabled="">
                </div>
                <div class="input-field col m3 s12">
                  <input type="text" placeholder="Phone no" name="phone" [(ngModel)]="cleaner.phone">
                </div>
                <div class="input-field col m3 s12">
                  <input type="text" placeholder="Email" name="email" [(ngModel)]="cleaner.email" disabled="">
                </div>
                <div class="input-field col m2 s12">
                  <input type="text" placeholder="BVN" name="bvn" [(ngModel)]="cleaner.bank_details.bvn" disabled="">
                </div>
                 <div class="input-field col m3 s12">
                    <select name="bank" #bank>
                        <option selected="" [ngValue]="cleaner.bank_details.bank">{{cleaner.bank_details.bank}}</option>
                        <option *ngFor="let b of allBanks" [ngValue]="b.name">{{b.name}}</option>
                    </select>
                </div>
                <div class="input-field col m3 s12">
                  <input type="text" placeholder="Account No" name="account_no"  [(ngModel)]="cleaner.bank_details.account_no">
                </div>
                <div class="input-field col m4 s12">
                  <input type="text" placeholder="Account Name" name="account_name"  [(ngModel)]="cleaner.bank_details.account_name">
                </div>

                <div class="col s12 center" style="padding-top: 10px" *ngIf="!preloader">
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>

                <div class="col s12 center" align='center' *ngIf="preloader">
                    <div class="preloader-wrapper small active">
                      <div class="spinner-layer">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                          <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                </div>

            </form>
            </div>

            <br><br>

        </div>      
    </div>
</div>

