
<div class="main-wrap">    
    <div class="body-view">
        <app-sidebar></app-sidebar>
        <div class="container">
            <h3 style="padding-left: 10rem"><a href="#" data-activates="slide-out" class="side-nav-open">
            	<i class="ion-navicon"></i>
            </a></h3>
            <h4>{{title}}</h4>
            <br><br>

            <div class="row table-body">
            <form (submit)="updateDetails()" novalidate="">
                <h5>Personal Information</h5>
                
                
                <div class="col s12 center" style="padding-top: 10px">
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>

            </form>
            </div>

            <br><br>

        </div>      
    </div>
</div>

