<header class="main_h">
    <div class="row-nav">
        <a class="logo" href="">FICHAYA</a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a routerLink='/cleaner/register' routerLinkActive='active'>Register</a></li>
                <li><a routerLink='/cleaner/login' routerLinkActive='active' class="button button-primary">Login</a></li>
            </ul>
        </nav>
        
    </div> 
</header>
