@font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway-Regular.ttf');
}

* {
	font-family: -apple-system, 
               BlinkMacSystemFont, 
               "Segoe UI", 
               Roboto, 
               Oxygen,
               Ubuntu,
               Cantarell,
               "Raleway", 
               sans-serif !important;
}

body, html {
   height:100%;
}

.responsive-img {
  width: 100%;
  height: auto;
}

h1, h2, h3, h4 {
  font-weight: 300  !important;
}

.primary-text {
	color: #000080;
}

.primary-background {
	background-color: #000080;
}

.white-text{
	color:  #fff;
}

.white{
	background-color: #fff;
}

/*
html {
  font-size: 80%; 
}

body {
  font-size: 1.5em;
  line-height: 1.5;
  color: #222; 
}
*/