<div class="back">
	<div class="container row">
		<div class="form-body m12 s12 row">
			<h4>Cleaning Associate's Registration Form</h4>
			<form>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Firstname" name="">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Lastname" name="">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Email" name="">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Address" name="">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Bus-Stop" name="">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Area" name="">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Location" name="">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Phone no" name="">
				</div>
				<div class="input-field col m3 s12">
					
				</div>
				
				
			</form>
		</div>
	</div>
</div>