.back{
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('/assets/images/bg-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #111;
  padding-top: 7rem;
  text-align: center;
  min-height: 100%;
}

.form-body{
	background-color: #fff;
	padding: 2rem 5rem !important;
}

@media only screen and (max-width: 450px) {
  .back {
    padding-top: 5rem;
    min-height: 100%;
  }
  .form-body{
    padding: 1rem 2rem !important;
  }
}