<div class="back">
	<div class="container row">
		<div class="form-body m12 s12 row">
			<h4>Cleaning Associate's Registration Form</h4>
			<form>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Firstname" name="">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Lastname" name="">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Email" name="">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Phone no" name="">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Address" name="">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Bus-Stop" name="">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Area" name="">
				</div>
				<div class="input-field col m3 s12">
					<select name="location" #location>
			            <option [ngValue]="island">Island</option>
			            <option [ngValue]="mainland">Mainland</option>
			        </select>
				</div>
				<div class="input-field col m3 s12">
					<select name="banks" #banks>
                        <option *ngFor="let b of allBanks" [ngValue]="b.name">{{b.name}}</option>
                    </select>
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="Account No" name="accont_no">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="BVN" name="bvn">
				</div>
				<div class="input-field col m3 s12">
					<input type="text" placeholder="" name="">
				</div>
				<div class="col s12 center" style="padding-top: 10px">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
				
			</form>
		</div>
	</div>
</div>